@mixin flex($direction, $align, $justify) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.banner {
  text-align: center;
  font-family: "Inter", sans-serif;
  color: #fff;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  @include flex(column, center, center);
  background-color: #ff3cac;
  background-image: linear-gradient(
    315deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  h1 {
    font-size: 2rem;
    font-weight: bold;
    padding: 30px;
  }
  p {
    font-size: 1rem;
  }
  button {
    cursor: pointer;
    padding: 15px 30px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 10px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    background: #fff;
    width: 100vw;
    height: 100vh;
    clip-path: polygon(100% 63%, 0 100%, 100% 100%);
    max-width: 100vw;
  }
}
.collection-title {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid gray;
  width: 50vmax;
  padding: 20px;
  margin: 5vmax auto;

  //font
  background-color: #ff3cac;
  background-image: linear-gradient(
    315deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.featProduct-container {
  @include flex(row, none, space-between);
  flex-wrap: wrap;
  padding: 3vmax;
  a {
    text-decoration: none;
  }
}
.feat-product-card {
  width: 20vmax;
  padding: 10px;
  color: rgba(49, 47, 47, 0.877);
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: transform 300ms ease-in-out;
  margin-bottom: 50px;
  //Hover on card
  &:hover {
    transform: scale(1.05);
  }
  .container {
    @include flex(column, center, none);
    padding: 0 20px;
    margin: 0 0 20px 0;
    h5 {
      font-size: clamp(1rem, 1vw, 1.4rem);
      font-weight: 700;
      margin-bottom: 10px;
    }
    span {
      margin-bottom: 5px;
    }
    .product-price {
      font-size: clamp(1.2rem, 4vh, 2rem);
      margin-top: 10px;
      margin-bottom: 10px;
      color: crimson;
    }
  }

  img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
    border-radius: 10px;
  }
}

@media (max-width: 800px) {
  .linkCard {
    flex-basis: 50%;
  }
  .feat-product-card {
    width: 30vmax;
    margin-bottom: 30px;
    .container {
      padding: 0;
      .img-responsive {
        width: 100%;
      }
    }
  }
  .featProduct-container {
    justify-content: space-around;
  }
}

@media (max-width: 425px) {
  .linkCard {
    flex-basis: 100%;
  }
  .container {
    .img-responsive {
      width: 100%;
    }
  }

  .feat-product-card {
    width: 60vmin;
    margin-bottom: 30px;
    .container {
      padding: 0;
    }
  }
}
